<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="TestSuite">
    <test name="FrameTest">
        <classes>
            <class name="FrameTest" />
        </classes>
    </test>
    <test name="WorkPageTest">
        <classes>
            <class name="WorkPageTest"/>
        </classes>
    </test>

</suite>